			div{
				box-sizing: content-box;
				
			}
			#nav{
				background-color:#604CA6;
				Overflow:auto;
				height:70px;	
			}
			body{
				background-color:#1D0D44;
				font-family:"acherus grotesque","advent pro","alata",sans-serif
			}
			.top{
				text-align:right;
				padding-right:50px;
			}
			a{
				margin-left:40px;
				color:#D0CFD4;
				text-decoration:none;	
			}
			a:hover{
				background-color:white;
				color:red;
			}
			#second{
				background-color:#604CA6;
				color:#D0CFD4;
				display:flex;
				padding:30px;
				height:280px;
			}
			#three{
				display:flex;
				background-color:#E7E7E7;
			}
			#four{
				display:flex;
				background-color:#1D0D44;
				color:#D0CFD4;
			}
			.card{
				height:40px;
				width:60px;
				position:relative;
				right:60px;
				top:20px:
			}
			.laptop{
				color:#746172;
				display:flex;
				background-color:#E7E7E7;
			}
			ul{
				list-style-type:none;
			}
			li{
				padding-bottom:15px;
			}
			#footer{
				border-top:1px solid #1D0D44;
				background-color:#1D0D44;
				text-align:center;
				color:#D0CFD4;
			}
			
			.down{
				text-align:center;
				margin-bottom:0px;
			}
			.text{
				padding:30px;
				width:70%;
				text-align:center;
			}
			.container{
				padding:20px;
				background-color:white;
				position:relative;
				bottom:50px;
			}
			.container1{
				padding:20px;
				background-color:white;
				position:relative;
				bottom:50px;
			}
			img{
				height:250px;
				width:350px;
				border-radius:15px;
			}
			.button2{
				width:100px;
				height:30px;
				border-radius:10px;
				background-color:#614DA7;
				color:white;
			}
			.button1{
				width:110px;
				height:32px;
				border-radius:18px;
				background-color:#2D1D6B;
				color:white;
			}
			.button3{
				width:110px;
				height:32px;
				border:1px solid white;
				border-radius:18px;
				background-color:#604CA6;
				color:white;
			}
			.one,.two,.three,.four{
				color:#D0CFD4;
				}
				
								
						
			@media (min-width: 320px) and (max-width: 480px){
				#nav{
					font-size:5px;
					padding-left:0px;
					background-color:gray;
					height:40px;
				}
				a{
					margin-left:5px;
					font-size:12px;
				}
				li{
					line-height:20px;
				}
				#second{
					width:86%;
					height:400px;
					flex-direction:column;
					
				}
				.needs{
					width:100%;
					text-align:center;
					padding-left:10px;
					font-size:10px;
					position:relative;
					left:50px;
					bottom:30px;
					line-height:15px;
				}
				.logo1{
					float:none;
					font-size:10px;
				}
				.card{
					width:100%;
					heigh:100px;
					position:relative;
					left:60px;	
				}
				.button1,.button3{
					height: 35px;
					width:	90px;
					border-radius:5px;
					margin-right:15px;
					margin-bottom:7px;
				}
				p{
					font-size:11.5px;
				}
				h2{
					font-size:14px;
				}
				h3{
					font-size:12px;
				}
				img{
					height:28px;
					width: 220px;
				}
				#three{
					flex-direction:column;
					min-height:300px;
				}
				.container{
					width:64%;
					margin-left:10px;
					height:180px;
					padding:10px;
					margin-bottom:15px;
					position:relative;
					top:10px;
					left:60px;
				}
				.container1{
					width:60%;
					height:180px;
					position:relative;
					top:10px;
					left:13px;
					margin-bottom:15px;
				}
				.laptop{
					width:100%;
					height:400px;
					flex-direction:column-reverse;
				}
				.keyboard{
					height:130px;
					width:200px;
					text-align:center;
				}
				.text{
					width:100%;
					padding:10px;
					padding-right:70px;
				}
				.pic{
					width:90%;
					position:relative;
					left:100px;	
				}
				#four{
					flex-direction:column;
					width:100%;
				}
				.one,.two,{
					width:100%;
					height:60px;
					line-height:20px;
				}
				
				.three{
					width:100%;
					height:60px;
					line-height:20px;
				}
				.one,.two,.three,.four{
					width:100%;
					height:60px;
					position:relative;
					left:140px;
				}
				#footer{
					text-align:left;
					padding-left:20px;
					
				}
			}
			